<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Інтерфейси
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">

    </ion-header>
    <ion-card>
        <ion-card-header>
            <ion-title size="large">Типізація TS. Приклад</ion-title>


        </ion-card-header>
        <ion-card-content>
            <ion-button (click)="ras_type()">Перегляд</ion-button>


        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-title size="large">Інтерфейси та функції</ion-title>


        </ion-card-header>
        <ion-card-content>
            <ion-input type="number" value="1" placeholder="a0" #Inputa0></ion-input>
            <ion-input type="number" value="5" placeholder="Крок" #Inputh></ion-input>
            <ion-input type="number" value="2" placeholder="N" #Inputn></ion-input>
            <ion-button (click)="ras_function(Inputa0.value,Inputh.value,Inputn.value)">Перегляд</ion-button>


        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-title size="large">Інтерфейси та класи</ion-title>


        </ion-card-header>
        <ion-card-content>
            <ion-button (click)="ras()">Розрахунок</ion-button>


        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-title size="large">Інтерфейси та масиви</ion-title>


        </ion-card-header>
        <ion-card-content>
            <ion-button (click)="ras_array()">Запуск</ion-button>


        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-title size="large">Гибридні інтерфейси</ion-title>


        </ion-card-header>
        <ion-card-content>
            <ion-button (click)="ras_gibrid()">Запуск</ion-button>


        </ion-card-content>
    </ion-card>
</ion-content>