<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Лекція 3
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-header>
            <ion-title size="large">Завдання</ion-title>

            <p>Скласти програму з абстрактним батьківським класом і двома об'єктами - нащадками. Реалізувати циклічне виведення параметрів об'єктів, використовуючи поліморфний контейнер - масив об'єктів базового класу (кількість об'єктів> = 5). Завдання.
                Знайти об'єкт з максимальною площею.</p>
        </ion-card-header>
        <ion-card-content>
            <ion-input type="number" value="5" #Inputn></ion-input>
            <ion-button (click)="ras(Inputn.value)">Розрахунок</ion-button>
            <p *ngFor="let fig of figure" [ngStyle]="{color:getColor(fig.pl,max)}">{{fig.show()}}</p>

        </ion-card-content>
    </ion-card>

</ion-content>